
html,body{
  margin:0;
  padding: 0;

}
.red{
  background-color: red;
  width:400px;
  height: 400px;
  position: absolute;

}
.imgp{
  position:fixed;

  width: 50px;


  top: 0
}
